@import url('css/reset.css');

body {
  color: #fff;
  text-align: center;
  background:
    -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
    -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

header, footer {
  position: fixed;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #999;
  text-shadow: 
    0px -1px 3px rgba(0,0,0, 1),
    0px  1px 1px rgba(255,255,255, .8);
  background-image: -webkit-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255, .2));
  box-shadow: 0px 3px 8px 0px rgba(0,0,0, .7);
}

header {top:0;right:0;left:0;}
footer {right:0;bottom:0;left:0;}
footer a {color: #fff;}

.box-wrapper {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  -webkit-perspective: 1200px;
  -webkit-perspective-origin: 25% 100%;

}

.box, article {
  height: 400px;
  width: 200px; 
}
.box {
  position: relative;
  margin: 100px 0 0 -100px;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transition: all 1s;
  -webkit-transform-style: preserve-3d;
}
.box.show-two   { -webkit-transform: rotateY(  -90deg ); }
.box.show-three { -webkit-transform: rotateY( -180deg ); }
.box.show-four  { -webkit-transform: rotateY( -270deg ); }

article {
  position: absolute;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  border: 5px solid #fff;
  box-shadow: inset 0 3px 10px 0 rgba(0,0,0, .7);
}
article:after {
  content: "\02192";
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2em;
  border-radius: 50%;
  background-color: rgba(255,255,255, .2);
  height: 40px;
  width: 40px;
  text-align: center;
}
article.side.four:after { content: "\021bb";}
article:hover:after {       box-shadow: 0 2px 3px 0 rgba(0,0,0, .4); }
article:active:after { inset box-shadow: 0 2px 3px 0 rgba(0,0,0, .4); }

.side.one   {  -webkit-transform:                   translateZ( 100px ); }
.side.two   {  -webkit-transform: rotateY(  90deg ) translateZ( 100px ); }
.side.three {  -webkit-transform: rotateY( 180deg ) translateZ( 100px ); }
.side.four  {  -webkit-transform: rotateY( 270deg ) translateZ( 100px ); }
.side.top  {   -webkit-transform: rotateX(  90deg ) translateZ( 100px ) translateX(-20px); }
.side.bottom{  -webkit-transform: rotateX( 270deg ) translateZ( 300px ) translateX(20px); }

/* colors */
.side.one{ background: -webkit-radial-gradient(center, ellipse cover, rgba(120,122,193,1) 0%,rgba(82,83,132,1) 100%); }
.side.two {   background: -webkit-radial-gradient(center, ellipse cover, rgba(199,120,198,1) 0%,rgba(137,83,136,1) 100%); }
.side.three { background: -webkit-radial-gradient(center, ellipse cover, rgba(89,127,77,1) 0%,rgba(64,92,56,1) 100%); }
.side.four {  background: -webkit-radial-gradient(center, ellipse cover, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); }
.side.top, .side.bottom {height: 200px;}
.side.bottom { height: ;}

.ball {
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%);
  -webkit-animation: bounce .5s  infinite alternate;
}

#tom, .top  { background-image: url("https://graph.facebook.com/547232363/picture?type=large"); left: 20px; }
#matt, .bottom { background-image: url("https://graph.facebook.com/12402757/picture?type=large");  right: 20px; }
.profile {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 241px;
  position: fixed;
  top: 50%;
  margin-top: -120px;
  box-shadow: 0 3px 10px 1px rgba(0,0,0, .8);
  -webkit-transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 2s ease;
}
.profile.activated { -webkit-transform: rotateY(0deg); }
.see_matt {-webkit-transform: rotateX(80deg) rotateY(-20deg) !important;}
.see_tom {-webkit-transform: rotateX( -90deg ) translateZ( 100px ) rotateY(-20deg) !important ;}
/* animations! */
@-webkit-keyframes bounce {
  0%    { bottom: -15px; height: 70px;  width: 110px; border-bottom: 1px solid #000; }
  10%   {                               width: 100px; border-bottom: 3px solid rgba(0,0,0, .4);}
  20%   { height: 100px; }
  100%  { bottom: 100px; }
}
