@import url('css/reset.css');

body {color: #fff;}

header, footer {
  position: absolute;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  background: #333;
  text-shadow: 0px -1px 1px rgba(0,0,0, 1);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0, .7);
     -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0, .7);
          box-shadow: 0px 1px 8px 0px rgba(0,0,0, .7);
}

header {top:0;right:0;left:0;}
footer {right:0;bottom:0;left:0;}
footer a {color: #fff;}

.box-wrapper {
  margin: 50px auto 60px;
  position: relative;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  -webkit-perspective: 1200px;
  -webkit-perspective-origin: 25% 100%;
}

.box, article {
  height: 400px;
  width: 200px; 
}
.box {
  position: relative;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all 1s;
  -webkit-transform-style: preserve-3d;
}
.box.show-two   { -webkit-transform: rotateY(  -90deg ); }
.box.show-three { -webkit-transform: rotateY( -180deg ); }
.box.show-four  { -webkit-transform: rotateY( -270deg ); }

article {
  position: absolute;
  padding: 20px;
  -webkit-backface-visibility: hidden;
}

.side.one   {  -webkit-transform:                   translateZ( 100px ); }
.side.two   {  -webkit-transform: rotateY(  90deg ) translateZ( 100px ); }
.side.three {  -webkit-transform: rotateY( 180deg ) translateZ( 100px ); }
.side.four  {  -webkit-transform: rotateY( 270deg ) translateZ( 100px ); }
.side.top  {   -webkit-transform: rotateX(  90deg ) translateZ( 100px ); }
.side.bottom{  -webkit-transform: rotateX( 270deg ) translateZ( 300px ); }

.side.top {background-color: red;}
.side.bottom {background-color: black;}
.side.top, .side.bottom {height: 200px;}
/* colors */
.side.one{
background: -moz-radial-gradient(center, ellipse cover, rgba(120,122,193,1) 0%, rgba(82,83,132,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(120,122,193,1) 0%,rgba(82,83,132,1) 100%);
}
.side.two {
background: -moz-radial-gradient(center, ellipse cover, rgba(199,120,198,1) 0%, rgba(137,83,136,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(199,120,198,1) 0%,rgba(137,83,136,1) 100%);
}
.side.three {
background: -moz-radial-gradient(center, ellipse cover, rgba(89,127,77,1) 0%, rgba(64,92,56,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(89,127,77,1) 0%,rgba(64,92,56,1) 100%);
}
.side.four {
background: -moz-radial-gradient(center, ellipse cover, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%);
}

.ball {
  position: absolute;
  bottom: -15px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,103,15,1) 0%, rgba(255,103,15,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%);
  -webkit-animation: bounce .5s  infinite alternate;
}


/* animations! */
@-webkit-keyframes bounce {
  0%    { bottom: -15px; height: 70px;  width: 110px; border-bottom: 1px solid #000; }
  10%   {                               width: 100px; border-bottom: 3px solid rgba(0,0,0, .4);}
  20%   { height: 100px; }
  100%  { bottom: 100px; }
}
